.login-bg {
    background: url(image/test.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.input-prompt {
    position: absolute;
    font-style: italic;
    color: #aaa;
    margin: 0.2em 0 0 0.5em;
  }